---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?includeArchived=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="26nBMQqwFvQ7L1swujPe1EgtpRjY0ROnxsG1ViBdA",
        oauth_signature="c6XBJ35WAjhgZVsc%2Bz5Nki1RbfUjX4y04RDOrnogGdAbsVQrpNBNiTCf2VoK0Kg4PapRKFUYtERdV%2F%2BCUlYygLNweCeXqUFaMpAOv%2Biw8l%2Bm1y7GQ5kKQs8MPPAOaHaHTKie7aqk4tCM4425GFvU3R9qrdCNhwJFFAQYSBpH%2FBU%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1507512585", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      Xero-Cell:
      - favorit
    body:
      encoding: ASCII-8BIT
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>5b7119b6-34b2-4c91-8d19-6938c07f0d67</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Chch Ruby</ProviderName>\r\n  <DateTimeUTC>2017-10-09T01:29:46.9269794Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>6d42f03b-181f-43e3-93fb-2025c012de92</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Wilson Periodicals</Name>\r\n
        \     <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2017-10-08T18:03:42.28</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n      <DefaultCurrency>NZD</DefaultCurrency>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Contact>\r\n    <Contact>\r\n
        \     <ContactID>2b6d2035-ded0-45a7-b2ad-4b01c788eaef</ContactID>\r\n      <ContactStatus>ACTIVE</ContactStatus>\r\n
        \     <Name>Ridgeway Bank</Name>\r\n      <Addresses>\r\n        <Address>\r\n
        \         <AddressType>STREET</AddressType>\r\n        </Address>\r\n        <Address>\r\n
        \         <AddressType>POBOX</AddressType>\r\n        </Address>\r\n      </Addresses>\r\n
        \     <Phones>\r\n  [...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Organisation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="<XERO_CONSUMER_KEY>", oauth_nonce="0VvkxkMC3hh1fzHWMj4crCT1OKuH4gxf42AnZcFKLSE",
        oauth_signature="LbPUXnp82Jg7xFW%2BMLCgA%2FuYRbW%2FkhNvycDHbMg4UBeFh%2FD%2FJDARQoy7MLCIiPlJEcgPcba6Zit8ynsgpFUtzglQnzmSS8bKVI9ZhVZ0%2BMGUJ%2Fg86zWslZve6h4rDUqYy1AhyK7eOR96eqNkPRX47QnRmZGKQ04Sd4%2FMIRuJm6E%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1507512587", oauth_token="<XERO_CONSUMER_KEY>",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      Xero-Cell:
      - favorit
    body:
      encoding: ASCII-8BIT
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>240983e0-cdb6-4397-9ef7-26fd69469538</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>Chch Ruby</ProviderName>\r\n  <DateTimeUTC>2017-10-09T01:29:48.2099554Z</DateTimeUTC>\r\n
        \ <Organisations>\r\n    <Organisation>\r\n      <Name>Demo Company (NZ)</Name>\r\n
        \     <LegalName>Demo Company (NZ)</LegalName>\r\n      <PaysTax>true</PaysTax>\r\n
        \     <Version>NZ</Version>\r\n      <OrganisationType>COMPANY</OrganisationType>\r\n
        \     <BaseCurrency>NZD</BaseCurrency>\r\n      <CountryCode>NZ</CountryCode>\r\n
        \     <IsDemoCompany>true</IsDemoCompany>\r\n      <OrganisationStatus>ACTIVE</OrganisationStatus>\r\n
        \     <TaxNumber>111-111-111</TaxNumber>\r\n      <FinancialYearEndDay>31</FinancialYearEndDay>\r\n
        \     <FinancialYearEndMonth>3</FinancialYearEndMonth>\r\n      <SalesTaxBasis>PAYMENTS</SalesTaxBasis>\r\n
        \     <SalesTaxPeriod>TWOMONTHS</SalesTaxPeriod>\r\n      <DefaultSalesTax>Remember
        previous</DefaultSalesTax>\r\n      <DefaultPurchasesTax>Remember previous</DefaultPurchasesTax>\r\n
        \     <PeriodLockDate>2009-09-30T00:00:00</PeriodLockDate>\r\n      <CreatedDateUTC>2017-10-08T08:58:56.75Z</CreatedDateUTC>\r\n
        \     <OrganisationEntityType>COMPANY</OrganisationEntityType>\r\n      <Timezone>NEWZEALANDSTANDARDTIME</Timezone>\r\n
        \     <ShortCode>!GjVms</ShortCode>\r\n      <OrganisationID>ef8a9fb0-5467-43b3-85dc-1e799a303a62</OrganisationID>\r\n
        \     <Addresses>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \         <AddressLine1>23 Main Street</AddressLine1>\r\n          <AddressLine2>Central
        City</AddressLine2>\r\n          <City>Marineville</City>\r\n          <PostalCode>1234</PostalCode>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>OFFICE</PhoneType>\r\n          <PhoneNumber>1234 5678</PhoneNumber>\r\n
        \         <PhoneAreaCode>0800</PhoneAreaCode>\r\n        </Phone>\r\n      </Phones>\r\n
        \   </Organisation>\r\n  </Organisations>\r\n</Response>"
  recorded_at: Mon, 09 Oct 2017 01:29:48 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?includeArchived=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Authorization:
      - OAuth oauth_consumer_key="foo", oauth_nonce="LTQpX6mo6G8ISbuc3AIjFe6wAFPKopzemX3Hv03M48",
        oauth_signature="oF5WmdfjcO2joXYvTui1%2BB8RdhkPkekbStfDTR4u977xtpuPvqQnTCqLTnP%2F8HBURcFGwbK6BJ1YEz%2FaUT%2BVi1P%2B%2BTxol4Szku5RtWX9VbvWxinjmz3rjQO8Ry2H1tkdgoBwiFAAThfD1qHFHVgho%2BS3XU1yYKaZ62LqaTwXqcc%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1507593600", oauth_token="foo",
        oauth_version="1.0"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="10.144.115.64"
    body:
      encoding: UTF-8
      string: oauth_problem=consumer_key_unknown&oauth_problem_advice=Consumer%20key%20was%20not%20recognised
  recorded_at: Tue, 10 Oct 2017 00:00:00 GMT
recorded_with: VCR 3.0.3
