/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 1em;
}

h2 { font-family: 'Raleway', sans-serif  }

a { text-decoration: none; }

.flash {
  padding: 1em;
}

.flash.error {
  background: #b90000;
  color: white;
}

.flash.success {
  background: #36b900;
  color: white;
}

table {
  border-collapse: collapse;
}

thead th {
  border-bottom: 2px solid #ddd;
}

tbody td {
  border-bottom: 1px solid #ddd;
}

th { text-align: left; }

td, th {
  padding: 0.5em;
  vertical-align: top;
}

dl.extra-data {
  position: absolute;
  visibility: hidden;
  background: #f2f2f2;
  padding: 1em;
  font-family: monospace;
  margin-top: -0.5em;
}

tbody tr:hover {
  background: #f2f2f2;
}

tbody tr:hover dl.extra-data {
  visibility: visible;
}

dd {
  margin-bottom: 1em;
}

dt {
  color: #777;
}

sup.fa-external-link {
  font-size: 50%;
}

.struck-out-element * {
  text-decoration: line-through;
  color: #ccc;
}
